@font-face {
  font-family: Poppins;
  src: url('../font/Poppins/Poppins-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url('../font/Poppins/Poppins-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Switzer;
  src: url('../font/Switzer/Switzer-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: Switzer;
  src: url('../font/Switzer/Switzer-Medium.otf');
  font-weight: 500;
}
@font-face {
  font-family: Switzer;
  src: url('../font/Switzer/Switzer-Semibold.otf');
  font-weight: 600;
}

@font-face {
  font-family: Switzer;
  src: url('../font/Switzer/Switzer-Thin.otf');
  font-weight: 100;
}

@font-face {
  font-family: Switzer;
  src: url('../font/Switzer/Switzer-Extralight.otf');
  font-weight: 200;
}

@font-face {
  font-family: Switzer;
  src: url('../font/Switzer/Switzer-Light.otf');
  font-weight: 300;
}

@font-face {
  font-family: Boska;
  src: url('../font/Boska/Boska-Light.otf');
  font-weight: 300;
}
@font-face {
  font-family: Boska;
  src: url('../font/Boska/Boska-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: Boska;
  src: url('../font/Boska/Boska-Medium.otf');
  font-weight: 500;
}

/* @font-face {
  font-family: Boska;
  src: url('../font/Boska/Boska-Italic.otf');
  font-weight: 400;
} */

@font-face {
  font-family: Boska;
  src: url('../font/Boska/Boska-Bold.otf');
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Switzer;
}

html,
body {
  font-size: 62.5%;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1300px;
    margin: auto;
  }
}

.flex {
  display: flex;
}
.item-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}

.italic {
  font-family: Boska;
  font-style: italic;
}
/* ====== navbar ====== */

.nav-wrapper {
  padding-top: 3rem;
}

.nav-items {
  gap: 5rem;
}

.nav-items li a {
  font-size: 1.8rem;
  font-weight: 300;
  color: #fff;
}

/* ======= Header Hero  ======  */

.header-wrapper {
  background: #1b3936;
  height: 105vh;
  width: 100%;
  margin-top: -100px;
}

.header-content {
  background-image: url('../img/Line.png');
  background-position: top;
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
}

.image-content {
  height: 100%;
}
.image-content img {
  max-width: 485px;
  border-radius: 50%;
}

.play-button {
  background-color: #75ff69;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  outline: none;
  border: 5px solid #00000080;
  position: absolute;
  right: 17%;
  top: 54%;
}

.heading-title {
  color: #fff;
  font-size: 26rem;
  font-weight: 400;
  font-family: Boska;
  position: absolute;
  top: 11%;
  left: 35%;
  text-transform: capitalize;
}

.title-m {
  color: #75ff69;
  top: 34%;
  right: 28%;
  font-family: Boska;
  position: absolute;
  font-size: 26rem;
  font-weight: 400;
}

.image-content h3 {
  color: #fff;
  font-family: Boska;
  font-size: 3.2rem;
  bottom: 33%;
  left: 47%;
  font-weight: 500;
  text-transform: capitalize;
  position: absolute;
  letter-spacing: 1px;
}

.title-b {
  color: #fff;
  font-family: Boska;
  font-size: 26rem;
  font-weight: 400;
  position: absolute;
  left: 28%;
  top: 57%;
}

.dec-p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  font-family: Switzer;
  position: absolute;
  bottom: 5%;
  max-width: 28%;
  text-align: center;
}

.header-rasult-container {
  margin-top: 15rem;
  margin-bottom: 10rem;
}

.box-rounded {
  width: 203px;
  height: 280px;
  background-color: #75ff69;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.box-rounded img {
  position: absolute;
}
.box-rounded img:nth-child(1) {
  left: 20px;
}
.box-rounded img:nth-child(2) {
  top: 20px;
}
.box-rounded img:nth-child(3) {
  right: 20px;
}
.box-rounded h4 {
  font-size: 15rem;
  font-family: Boska;
  font-style: italic;
  font-weight: 400;
  color: #1b3936;
  margin-top: 10rem;
  margin-right: 26px;
}

.Discription {
  margin-top: 3rem;
}
.Discription p {
  font-size: 2rem;
  line-height: 3.1rem;
  color: #1b3936;
  font-family: Switzer;
}

.number-count {
  flex: 1;
  padding-left: 33rem;
}

.left-content {
  flex: 1;
}

.number-wrapper {
  margin-bottom: 5rem;
}

.number-wrapper p {
  font-size: 2rem;
  color: #1b3936;
  font-family: Switzer;
}
.number-wrapper h4 {
  font-family: Boska;
  font-size: 10rem;
  font-weight: 700;
  line-height: 8rem;
  color: #1b3936;
}
.number-wrapper h4 sub {
  font-size: 2rem;
  font-weight: 400;
}

.ful-cover-img {
  width: 100%;
  max-width: 100%;
}

.w-full {
  width: 100%;
}
.ful-cover-img img {
  width: 100%;
  object-fit: cover;
}

.about-container {
  max-width: 85%;
  margin: auto;
  height: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about-wrapper {
  background-color: #1b3936;
  margin-top: -10px;
  position: relative;
}

.about-container .image {
  display: flex;
  justify-content: space-between;
}

.left-image-content {
  align-items: end;
}
.left-image-content img {
  display: block;
}

.left-image-content .fs-img {
  position: relative;
  width: 401px;
  height: 342px;
}
.left-image-content .fs-img img {
  width: 100%;
}

.left-image-content .fs-img::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    86deg,
    rgba(27, 57, 54, 0.2) 10%,
    rgba(27, 57, 54, 1) 100%
  );
  z-index: 1;
}
.left-image-content .scnd-img {
  width: 401px;
  height: 526px;
  margin-right: 15rem;
}

.left-image-content .scnd-img img {
  width: 100%;
  height: 100%;
}
.left-image-content .scnd-img {
  position: relative;
}
.left-image-content .scnd-img::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    245deg,
    rgba(27, 57, 54, 0.2) 10%,
    rgba(27, 57, 54, 1) 100%
  );
  z-index: 1;
}

.right-img-content .fourth-img {
  width: 401px;
  height: 531px;
  margin-left: 17rem;
  margin-top: -9rem;
}

.right-img-content .fourth-img img {
  width: 100%;
  height: 100%;
}
.right-img-content .fourth-img {
  position: relative;
}

.right-img-content .fourth-img::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    15deg,
    rgba(27, 57, 54, 0.2) 40%,
    rgba(27, 57, 54, 1) 100%
  );
  z-index: 1;
}

.right-img-content .fivth-img {
  width: 401px;
  height: 531px;
  margin-right: 24rem;
}

.right-img-content .fivth-img img {
  width: 100%;
  height: 100%;
}
.right-img-content .fivth-img {
  position: relative;
}

.right-img-content .fivth-img::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    15deg,
    rgba(27, 57, 54, 0.2) 40%,
    rgba(27, 57, 54, 1) 100%
  );
  z-index: 1;
}

.about-container .content {
  position: absolute;
  z-index: 9;
  top: 18%;
  left: 20%;
  max-width: 57%;
}

.about-container .content h1 {
  font-size: 6.8rem;
  font-family: Boska;
  font-weight: 400;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
}
.content h2 {
  text-align: center;
  color: #75ff69;
  font-size: 2rem;
  text-transform: uppercase;

  font-weight: 400;
}

.Rooms-colection {
  background-color: #f9f9f9;
  padding-top: 10rem;
}

.Rooms-colection img {
  width: 100%;
}

.rooms-heading-content h2 {
  font-size: 6.8rem;
  color: #1b3936;
  font-weight: 400;
  font-family: Boska;
  text-transform: capitalize;
  max-width: 60%;
}

.room-heading-content {
  display: flex;
  /* grid-template-columns: repeat(3, 1fr); */
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  max-width: 90%;
  margin: 15rem auto;
}
.rooms-item {
  position: relative;
}

.rooms-item h2 {
  font-size: 3.2rem;
  font-weight: 300;
  font-family: Boska;
  color: #f9f9f9;
  position: absolute;
  bottom: 8%;
  text-align: center;
  left: 17%;
  letter-spacing: 1px;
}

.room-sm-content {
  position: absolute;
  bottom: 9%;
}
.room-sm-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 4rem;
  padding-right: 4rem;
}
.room-sm-content h1 {
  font-size: 6.8rem;
  font-weight: 400;
  font-family: Boska;
  color: #fff;
}
.room-sm-content p {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  font-family: Switzer;
  max-width: 80%;
}

.Subscribe-wrapper {
  background-color: #1b3936;
  padding: 10rem 0;
}

.from-SubScribe {
  background-image: url('../img/BG.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}
.content-title-sub {
  max-width: 50%;
  text-align: center;
}

.content-title-sub h1 {
  font-size: 6.8rem;
  font-weight: 400;
  font-family: Boska;
  text-transform: capitalize;
  margin-bottom: 2rem;
  color: #fff;
}
.content-title-sub h1 span {
  color: #75ff69;
  font-family: Boska;
}
.content-title-sub p {
  font-size: 1.8rem;
  font-weight: 300;
  font-family: Switzer;
  text-align: center;
  color: #fff;
  margin-bottom: 5rem;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.from-SubScribe form {
  width: 45%;
}
.from-SubScribe form .input-box {
  display: flex;
  width: 100%;
}
.from-SubScribe form .input-box input {
  outline: none;
  border: none;
  width: 100%;
  background-color: #fff;
  padding: 18px 15px;
  font-family: Switzer;
  font-size: 1.8rem;
  font-weight: 400;
}
.from-SubScribe form .input-box button {
  background-color: #75ff69;
  outline: none;
  border: none;
  font-size: 1.8rem;
  width: 25rem;
  font-weight: 400;
}
.from-SubScribe form .input-box input::placeholder {
  color: #b1b1b1;
  font-weight: 400;
}

.Wilderness-wrapper {
  padding: 10rem 0;
}
.Wilderness-wrapper .heading-content {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.Wilderness-wrapper .heading-content h2 {
  font-size: 6.8rem;
  color: #1b3936;
  font-family: Boska;
  font-weight: 300;
  max-width: 50%;
}
.Wilderness-wrapper .heading-content h4 {
  font-size: 1.8rem;
  font-weight: 300;
  font-family: Switzer;
  color: #1b3936;
  max-width: 30%;
  margin-left: auto;
}
